.columnListItem {
  padding: 5px;
  border: 2px solid #34568b;
  background: #34568b;
  color: #fff;
  cursor: pointer;
}

.columnListItem:hover {
  background: #fff;
  color: #34568b;
  font-weight: 600;
}
